<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>
    <!-- MainMenu-Area -->
    <nav class="mainmenu-area" data-spy="affix" data-offset-top="200">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary_menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
             <a class="navbar-brand" href="#"><img src="assets/logo.svg" alt="Logo"></a>

            </div>
            <div class="collapse navbar-collapse" id="primary_menu">
                <ul class="nav navbar-nav mainmenu">
                    <li class="active"><a href="#home_page">Домой</a></li>
                    <li><a href="#about_page">О нас</a></li>
                    <li><a href="#features_page">Особенности</a></li>
                    <li><a href="#price_page">Тарифы</a></li>
                    <li><a href="#questions_page">FAQ</a></li>
                    <li><a href="#contact_page">Контакты</a></li>
                </ul>
                <div class="right-button hidden-xs">
                    <a href="/admin">Админ-панель</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- MainMenu-Area-End -->
    <!-- Home-Area -->
    <header class="home-area overlay angle" id="home_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 hidden-sm col-md-5">
                    <figure class="mobile-image wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/header-mobile.png" alt="">
                    </figure>
                </div>
                <div class="col-xs-12 col-md-7">
                    <div class="space-80 hidden-xs"></div>
                    <h1 class="wow fadeInUp" data-wow-delay="0.4s">Остановим вирус вместе</h1>
                    <div class="space-20"></div>
                    <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                        <p>Получайте уведомления о вакцинациях, следите за своим состоянием здоровья</p>
                    </div>
                    <div class="space-20"></div>
                    <a href="https://google.com" class="bttn-white wow fadeInUp" data-wow-delay="0.8s"><i class="lnr lnr-download"></i>Скачать приложение</a>
                </div>
            </div>
        </div>
    </header>
    <!-- Home-Area-End -->
    <!-- About-Area -->
    <section class="section-padding" id="about_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="page-title text-center">
                        <img src="assets/about-logo.svg" alt="About Logo" style='width:65px'>
                        <div class="space-20"></div>
                        <h5 class="title">О нас</h5>
                        <div class="space-30"></div>
                        <h3 class="blue-color">Приложение для получения уведомлений о вакцинациях</h3>
                        <div class="space-20"></div>
                        <p>Уведомления, календарь вакцинаций, новости, места вакцинаций, события, результаты</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-Area-End -->


    <!-- Feature-Area -->
    <section class="feature-area section-padding-top" id="features_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="page-title text-center">
                        <h5 class="title">Особенности</h5>
                        <div class="space-10"></div>
                        <h3>Особенности нашего приложения</h3>
                        <div class="space-60"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box-icon">
                            <i class="lnr lnr-rocket"></i>
                        </div>
                        <h4>Быстрое и удобное</h4>
                        <p>Удобное в использование, работает очень быстро</p>
                    </div>
                    <div class="space-60"></div>
                    <div class="service-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box-icon">
                            <i class="lnr lnr-paperclip"></i>
                        </div>
                        <h4>Простота использования</h4>
                        <p>Просто и понятный интерфейс, легко разобраться</p>
                    </div>
                    <div class="space-60"></div>
                    <div class="service-box wow fadeInUp" data-wow-delay="0.6s">
                        <div class="box-icon">
                            <i class="lnr lnr-cloud-download"></i>
                        </div>
                        <h4>Облачное хранилище</h4>
                        <p>Облачное хранилище ваших результатов</p>
                    </div>
                    <div class="space-60"></div>
                </div>
                <div class="hidden-xs hidden-sm col-md-4">
                    <figure class="mobile-image">
                        <img src="assets/header-mobile.png" alt="Feature Photo">
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box-icon">
                            <i class="lnr lnr-clock"></i>
                        </div>
                        <h4>Уведомления</h4>
                        <p>Уведомления о вакцинациях, никогда не пропустите</p>
                    </div>
                    <div class="space-60"></div>
                    <div class="service-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box-icon">
                            <i class="lnr lnr-laptop-phone"></i>
                        </div>
                        <h4>Новостная лента</h4>
                        <p>Будьте в курсе всех событий о вакцинациях</p>
                    </div>
                    <div class="space-60"></div>
                    <div class="service-box wow fadeInUp" data-wow-delay="0.6s">
                        <div class="box-icon">
                            <i class="lnr lnr-cog"></i>
                        </div>
                        <h4>Места вакцинаций</h4>
                        <p>Найдите ближайшее место вакцинации</p>
                    </div>
                    <div class="space-60"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature-Area-End -->
    <!-- Testimonial-Area -->
    <section class="testimonial-area" id="testimonial_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title text-center">
                        <h5 class="title">Отзывы</h5>
                        <h3 class="dark-color">Наши пользователи довольны</h3>
                        <div class="space-60"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="team-slide">
                        <div class="team-box">
                            <div class="team-image">
                                <img src="assets/team-1.png" alt="">
                            </div>
                            <h4>Иван Петров</h4>
                            <p>Крутое приложение</p>
                        </div>
                        <div class="team-box">
                            <div class="team-image">
                                <img src="assets/team-2.jpg" alt="">
                            </div>
                            <h4>Сергей Петров</h4>
                            <p>Молодцы ребята</p>
                        </div>
                        <div class="team-box">
                            <div class="team-image">
                                <img src="assets/team-3.jpg" alt="">
                            </div>
                            <h4>Раиса Степанова</h4>
                            <p>Лучшее, что я видела</p>
                        </div>
                        <div class="team-box">
                            <div class="team-image">
                                <img src="assets/team-1.png" alt="">
                            </div>
                            <h4>Сергей Иванов</h4>
                            <p>Очень удобное приложение</p>
                        </div>
                        <div class="team-box">
                            <div class="team-image">
                                <img src="assets/team-2.jpg" alt="">
                            </div>
                            <h4>Иван Козлов</h4>
                            <p>Мое самое любимое приложение</p>
                        </div>
                        <div class="team-box">
                            <div class="team-image">
                                <img src="assets/team-3.jpg" alt="">
                            </div>
                            <h4>Анна Иванова</h4>
                            <p>Обязательно сделаю донат</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial-Area-End -->


    <!-- Download-Area -->
    <div class="download-area overlay" id="download_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 hidden-sm">
                    <figure class="mobile-image">
                        <img src="assets/header-mobile.png" alt="" style='width:300px'>
                    </figure>
                </div>
                <div class="col-xs-12 col-md-6 section-padding">
                    <h3 class="white-color">Скачать приложение</h3>
                    <div class="space-20"></div>
                    <p>Скачайте приложение бесплатно для вашей платформы</p>
                    <div class="space-60"></div>
                    <a href="https://www.apple.com" class="bttn-white sq"><img src="assets/apple-icon.png" alt="apple icon"> Apple Store</a>
                    <a href="https://www.google.com" class="bttn-white sq"><img src="assets/play-store-icon.png" alt="Play Store Icon"> Play Store</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Download-Area-End -->
    <!--Price-Area -->
    <section class="section-padding price-area" id="price_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title text-center">
                        <h5 class="title">Тарифы</h5>
                        <h3 class="dark-color">Наши тарифы</h3>
                        <div class="space-60"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="price-box">
                        <div class="price-header">
                            <div class="price-icon">
                                <span class="lnr lnr-rocket"></span>
                            </div>
                            <h4 class="upper">Простой</h4>
                        </div>
                        <div class="price-body">
                            <ul>
                                <li>Простая установка</li>
                                <li>Безлимитная поддержка</li>
                                <li>Уникальный дизайн</li>
                            </ul>
                        </div>
                        <div class="price-rate">
                            <sup>&#8381;</sup> <span class="rate">0</span> <small>/Месяц</small>
                        </div>
                        <div class="price-footer">
                            <a href="https://google.com" class="bttn-white">Скачать</a>
                        </div>
                    </div>
                    <div class="space-30 hidden visible-xs"></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="price-box">
                        <div class="price-header">
                            <div class="price-icon">
                                <span class="lnr lnr-diamond"></span>
                            </div>
                            <h4 class="upper">Стандарт</h4>
                        </div>
                        <div class="price-body">
                            <ul>
                                <li>Простая установка</li>
                                <li>Безлимитная поддержка</li>
                                <li>Уникальный дизайн</li>
                            </ul>
                        </div>
                        <div class="price-rate">
                            <sup>&#8381;</sup> <span class="rate">49</span> <small>/Месяц</small>
                        </div>
                        <div class="price-footer">
                            <a href="https://google.com" class="bttn-white">Скачать</a>
                        </div>
                    </div>
                    <div class="space-30 hidden visible-xs"></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="price-box">
                        <div class="price-header">
                            <div class="price-icon">
                                <span class="lnr lnr-pie-chart"></span>
                            </div>
                            <h4 class="upper">Мощный</h4>
                        </div>
                        <div class="price-body">
                            <ul>
                                <li>Простая установка</li>
                                <li>Безлимитная поддержка</li>
                                <li>Уникальный дизайн</li>
                            </ul>
                        </div>
                        <div class="price-rate">
                            <sup>&#8381;</sup> <span class="rate">99</span> <small>/Месяц</small>
                        </div>
                        <div class="price-footer">
                            <a href="https://google.com" class="bttn-white">Скачать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Price-Area-End -->
    <!--Questions-Area -->
    <section id="questions_page" class="questions-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title text-center">
                        <h5 class="title">FAQ</h5>
                        <h3 class="dark-color">Часто задаваемые вопросы</h3>
                        <div class="space-60"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="toggole-boxs">
                        <h3>Что такое коронавирус и как происходит заражение?</h3>
                        <div>
                            <p>Новый коронавирус – респираторный вирус (возбудитель ОРВИ). Он передается главным образом воздушно-капельным путем в результате вдыхания капель, выделяемых из дыхательных путей больного, например при кашле или чихании, а также капель слюны или выделений из носа. Также он может распространяться, когда больной касается любой загрязненной поверхности, например дверной ручки. В этом случае заражение происходит при касании рта, носа или глаз грязными руками.</p>
                        </div>
                        <h3>Я обнаружил у себя указанные симптомы, что делать?</h3>
                        <div>
                            <p>Если у вас есть эти симптомы, не выходите из дома и обязательно позвоните на горячую линию по номеру 8-800-2000-112 или вызовите «скорую».</p>
                        </div>
                        <h3>Передается ли коронавирус через питьевую воду?</h3>
                        <div>
                            <p>Специалисты не исключают такой возможности. Но на сегодняшний день это вопрос дискуссионный.</p>
                        </div>
                        <h3>Какие меры по профилактике коронавируса существуют?</h3>
                        <div>
                            <p>Самое важное, что можно сделать, чтобы защитить себя, – это соблюдать правила личной гигиены и сократить посещения общественных и людных мест.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="space-20 hidden visible-xs"></div>
                    <div class="toggole-boxs">
                        <h3>Какие симптомы у коронавируса?</h3>
                        <div>
                            <p>Основные симптомы коронавируса: высокая температура тела, кашель (сухой или с небольшим количеством мокроты), затрудненное дыхание, боль в мышцах, быстрая утомляемость. Реже проявляются головная боль, тяжесть в грудной клетке, тошнота, рвота и диарея. В подавляющем большинстве случаев данные симптомы связаны не с коронавирусом, а с обычной ОРВИ.</p>
                        </div>
                        <h3>Как передается коронавирус?</h3>
                        <div>
                            <p>Пути передачи: 1. Воздушно-капельный (выделение вируса происходит при кашле, чихании, разговоре) 2. Контактно-бытовой (через поверхности, предметы обихода)</p>
                        </div>
                        <h3>Передается ли коронавирус через продукты?</h3>
                        <div>
                            <p>Коронавирус может распространяться как воздушно-капельным, так и контактным путем. По поводу передачи заболевания через продукты специалисты пока не пришли к единому выводу, но полностью этот путь не исключают.</p>
                        </div>
                        <h3>В каких случаях следует носить маску?</h3>
                        <div>
                            <p>Здоровым людям можно пользоваться масками при посещении публичных мест и общественного транспорта, но эффективность будет высокой только в сочетании с другими методами профилактики.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Questions-Area-End -->

    <!-- Footer-Area -->
    <footer class="footer-area" id="contact_page">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title text-center">
                            <h5 class="title">Контакты</h5>
                            <h3 class="dark-color">Связаться с нами</h3>
                            <div class="space-60"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="footer-box">
                            <div class="box-icon">
                                <span class="lnr lnr-map-marker"></span>
                            </div>
                            <p>Россия, г. Москва<br /> ул. Победы, д.10</p>
                        </div>
                        <div class="space-30 hidden visible-xs"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="footer-box">
                            <div class="box-icon">
                                <span class="lnr lnr-phone-handset"></span>
                            </div>
                            <p>8(900) 000-00-00<br />8(900) 000-00-01</p>
                        </div>
                        <div class="space-30 hidden visible-xs"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="footer-box">
                            <div class="box-icon">
                                <span class="lnr lnr-envelope"></span>
                            </div>
                            <p>инфо@эпидемии-нет.рф<br />менеджер@эпидемии-нет.рф
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- Footer-Area-End -->
    <!--Vendor-JS-->
    <script src="assets/vendor/jquery-1.12.4.min.js"></script>
    <script src="assets/vendor/jquery-ui.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="assets/owl.carousel.min.js"></script>
    <script src="assets/contact-form.js"></script>
    <script src="assets/ajaxchimp.js"></script>
    <script src="assets/scrollUp.min.js"></script>
    <script src="assets/magnific-popup.min.js"></script>
    <script src="assets/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="assets/main.js"></script>
</body>